<div>
  <h1>Signup for an account here!</h1>
  <form action="/signup" method="POST">
    <p>
      <label for="username"><h2>Username:</h2></label></br>
      <input type="text" name="username" placeholder="Username" style='width:50%'/>
    </p>
    <p>
      <label for="email"><h2>Email:</h2></label></br>
      <input type="text" name="email" placeholder="Email" style='width:50%'/>
    </p>
    <p>
      <label for="password"><h2>Password:</h2></label></br>
      <input type="text" name="password" placeholder="Password" style='width:50%'/>
    </p>
    <p>
      <label for="password_confirmation"><h2>Confirm Password:</h2></label></br>
      <input type="text" name="password_confirmation" placeholder="Password Confirmation" style='width:50%'/>
    </p>
    <button><h4>Sign Up</h4></button>
  </form><br>

  <p><h3>Have an account? <a href="/login">Login Here</a></h3></p>
</div>