<!DOCTYPE html>
<html>
  <head>
    <title>Skeleton Sinatra App</title>

    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <div class="loginnav" align="right">
      <% if logged_in? %>
        <form method="post" action="/logout" align="right">
          <input type="hidden" name="_method", value="delete">
          <button class="logoutbutton" align="right">Logout</button>
        </form>
      <% end %>
      <% unless logged_in? %>
        <a href="/login" align="right">Login</a>
        <a href="/signup" align="right">Signup</a>
      <% end %>
    </div>
    <br>
    <div class="topnav">
      <a href="/">Home</a>
      <a href="/contact">Contact</a>
      <a href="/about">About</a>
    </div>
  </head>

  <body>
  <div>
    <div class="notice" style="color:red;"><% if flash[:notice] %> <%= flash[:notice] %> <% end %></div><br>
    <%= yield %>
  </div>
  </body>
</html>