<div>
  <h1>Login</h1>

  <p><h2>Enter your username and password to login:</h2></p><br>

  <form action="/auth/login" method="post">
    <p>Username: <input type="text" name="username" /></p>
    <p>Password: <input type="password" name="password" /></p>
    <input type="submit" value="Log In" />
  </form>

  <p><h3>Need an account? <a href="/signup">Signup here.</a></h3></p>
</div>
